#bodyTag {
    background: linear-gradient(rgb(204, 232, 255) 0%, rgb(232, 214, 255) 100%);
}

center {
    margin-top: 70px;
}

#logoutButton1 {
    width: 70px; 
    font-family: fantasy; 
    font-style: italic; 
    font-size: 20px; 
    border-radius: 14px; 
    color: lightskyblue; 
    background-color: lightcoral;
}

#welcomeUsernameLabel {
    font-family: fantasy; 
    font-style: italic; 
    color: lightcoral; 
    font-size: 70px;
}

#roomNameInput {
    width: 200px; 
    font-family: fantasy; 
    font-size: 20px; 
    text-align: center; 
    border-radius: 14px; 
    color: lightskyblue; 
    background-color: lightcoral;
}

#addRoomButton {
    width: 70px; 
    font-family: fantasy; 
    font-style: italic; 
    font-size: 20px; 
    border-radius: 14px; 
    color: lightskyblue; 
    background-color: lightcoral;
}